<p>{{ 'support.intro'|trans|raw }}</p>
<p>{{ 'support.email'|trans|raw }}<br />
    <strong><a href='mailto:esupport@clinfile.com'>esupport@clinfile.com</a></strong></p>
<p>{{ 'support.phone'|trans|raw }}<br />
    <strong><a href='tel:+33180131500'> +33 (0)1 80 13 15 00 </a></strong></p>
<p>{{ 'support.ending'|trans|raw }}</p>
