{% extends 'app/tos.html.twig' %}

{% block tos %}
    {# copier coller le html ici #}

    <p><strong>2020/04/10 version</strong></p>

    <p>At Clinfile, we are concerned about the rights of individuals, especially with regard to automated treatments. In a desire for transparency with our users, we have implemented a privacy policy (see Article 5 of these TOS) that defines how we use and protect the information you entrust us with. This privacy policy also summarizes the means of action available to you to exercise your rights.</p>

    <p>These TOS apply when you use this website <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getHttpHost() }}</a> (hereinafter referred to as the &ldquo;Site&rdquo;), published by Clinfile (see Article 1 of these TOS), on behalf of the Sponsor of the clinical study in which you participate.</p>

    <p>For further information on the protection of personal data, we invite you to consult the European General Data Protection Regulation law (<a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32016R0679">GDPR</a>).</p>

    <p>A Data Protection Officer (DPO) is at your disposal for any questions relating to the protection of your personal data at the following address: <a href="mailto:dpo@multihealthgroup.com">dpo@multihealthgroup.com</a>.</p>

    <p>The continued browsing of this Site constitutes acceptance without reservation of the following terms and conditions of use. The current online version of these terms and conditions of use is the only one enforceable during the entire period of use of the Site and until a new version replaces it. Users of the Site are therefore invited to regularly review these Terms of Service, the date of the update being clearly identified at the top of this page.</p>

    <p><strong>Table of Contents</strong></p>

    <p><a href="#_Toc37179258">Article 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Legal Notice</a></p>

    <p><a href="#_Toc37179259">Article 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Access to the Site</a></p>

    <p><a href="#_Toc37179260">2.1&nbsp;&nbsp;&nbsp;&nbsp; Consent</a></p>

    <p><a href="#_Toc37179261">Article 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Site management</a></p>

    <p><a href="#_Toc37179262">Article 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Special considerations relating to health data</a></p>

    <p><a href="#_Toc37179263">4.1&nbsp;&nbsp;&nbsp;&nbsp; Management of Site user rights</a></p>

    <p><a href="#_Toc37179264">4.2&nbsp;&nbsp;&nbsp;&nbsp; Patient access management</a></p>

    <p><a href="#_Toc37179265">4.3&nbsp;&nbsp;&nbsp;&nbsp; Data transfer to the Promoter</a></p>

    <p><a href="#_Toc37179266">4.3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; During the course of the study</a></p>

    <p><a href="#_Toc37179267">4.3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; At the end of the study</a></p>

    <p><a href="#_Toc37179268">Article 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</a></p>

    <p><a href="#_Toc37179269">5.1&nbsp;&nbsp;&nbsp;&nbsp; Collection, use and protection of data</a></p>

    <p><a href="#_Toc37179270">5.2&nbsp;&nbsp;&nbsp;&nbsp; Personal or identifying data collected (excluding health data)</a></p>

    <p><a href="#_Toc37179271">5.2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Clinical study stakeholders case</a></p>

    <p><a href="#_Toc37179272">5.2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For all users</a></p>

    <p><a href="#_Toc37179273">5.3&nbsp;&nbsp;&nbsp;&nbsp; Purposes of processing</a></p>

    <p><a href="#_Toc37179274">5.4&nbsp;&nbsp;&nbsp;&nbsp; Data protection</a></p>

    <p><a href="#_Toc37179275">5.5&nbsp;&nbsp;&nbsp;&nbsp; Data retention policy</a></p>

    <p><a href="#_Toc37179276">5.6&nbsp;&nbsp;&nbsp;&nbsp; Sharing personal data with third parties</a></p>

    <p><a href="#_Toc37179277">5.7&nbsp;&nbsp;&nbsp;&nbsp; Rights of the data subject over his data</a></p>

    <p><a href="#_Toc37179278">5.7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right of access</a></p>

    <p><a href="#_Toc37179279">5.7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to rectification</a></p>

    <p><a href="#_Toc37179280">5.7.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to erasure (right to be forgotten)</a></p>

    <p><a href="#_Toc37179281">5.7.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to restriction of processing</a></p>

    <p><a href="#_Toc37179282">5.7.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to object</a></p>

    <p><a href="#_Toc37179283">5.7.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to be noticed</a></p>

    <p><a href="#_Toc37179284">5.7.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to data portability</a></p>

    <p><a href="#_Toc37179285">5.7.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Exercise of these rights</a></p>

    <p><a href="#_Toc37179286">Article 6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cookies</a></p>

    <p><a href="#_Toc37179287">Article 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Site content</a></p>

    <p><a href="#_Toc37179288">Article 8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Responsibility</a></p>

    <p><a href="#_Toc37179289">Article 9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Applicable law.</a></p>

    <p><a href="#_Toc37179290">Article 10&nbsp;&nbsp; Contact us</a></p>

    <p>&nbsp;</p>

    <h1><a name="_Toc37179258"></a>Article 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Legal Notice</h1>

    <p>Clinfile SAS (hereinafter referred to as &ldquo;we&rdquo; or &ldquo;us&rdquo;), with a capital of &euro;960,000.00, whose head office is located at 13 avenue Morane Saulnier, B&acirc;t. Santos-Dumont, 78140 V&eacute;lizy-Villacoublay, FRANCE, represented by Dr. G&eacute;rard Sorba, in his capacity as Chairman, registered in the Trade and Companies Register (<em>RCS</em>) of V&eacute;lizy-Villacoublay under the number 524&nbsp;637&nbsp;709, is a publisher of web applications for clinical research management, a subsidiary of the Multihealth group (<a href="http://www.multihealthgroup.com">www.multihealthgroup.com</a>). Telephone: 0033&nbsp;(0)1&nbsp;80&nbsp;13&nbsp;14&nbsp;70, e-mail: <a href="mailto:contact@multihealthgroup.com">contact@multihealthgroup.com</a>.</p>

    <p>These web applications (or sites), as well as the collected data, are hosted by Cegedim SA, with a capital of &euro;13,336,506.43, whose head office is located at 137 rue d'Aguesseau, 92100 Boulogne-Billancourt, FRANCE, registered in the Trade and Companies Register (<em>RCS</em>) of Nanterre under the number B&nbsp;350&nbsp;422&nbsp;622, telephone: 0033&nbsp;(0)1&nbsp;49&nbsp;09&nbsp;22&nbsp;00, e-mail: <a href="mailto:cnil@cegedim.fr">cnil@cegedim.fr</a>, on servers located in France.</p>

    <p>In accordance with Article L.1111-8 of the French Public Health Code, as amended by Law No. 2016-41 of January 26<sup>th</sup>, 2016, these servers are HDS certified (Health Data Hosting). This is a certificate issued by the French Ministry of Health that guarantees that the health data we process are hosted in security conditions adapted to their criticality.</p>

    <h1><a name="_Toc37179259"></a>Article 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Access to the Site</h1>

    <p>Access to and use of the Site are reserved for strictly individual use. You agree not to disclose your login credentials, and not to use this Site and the information or data contained therein for purposes outside the scope of the clinical study in which you participate in.</p>

    <h2><a name="_Toc37179260"></a>2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Consent</h2>

    <p>Use of this Site is subject to acceptance of these TOS. As long as the user has not ticked the box indicating that he has read and accepts these TOS, and has not confirmed by clicking on the &ldquo;Validate&rdquo; button, use of the Site will not be possible. At any time, the user may withdraw his consent to these TOS. In order to do so, the user must formulate his request by referring to point 5.7.8.</p>

    <h1><a name="_Toc37179261"></a>Article 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Site management</h1>

    <p>In order to guarantee the best possible quality of service, we can at any time:</p>

    <ul>

        <li>suspend, interrupt or limit access to all or part of the Site, reserve total or partial access to a given category of Internet users;</li>

        <li>delete any information that may disrupt the operation of the Site or contravene national or European laws;</li>

        <li>suspend the Site in order to carry out updates.</li>

    </ul>

    <h1><a name="_Toc37179262"></a>Article 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Special considerations relating to health data</h1>

    <p>As mentioned in Article 8 of these TOS, the use of Our applications is subject to compliance with the legislation in force. This implies, among other things, compliance with Deliberations Nos. 2018-153, or 2015-256, or 2018-154, or 2018-155, approving the reference methodologies MR-001, MR-002, MR-003 and MR-004, respectively.</p>

    <p>In accordance with articles L1121-3 (concerning monitors) and R5121-13 (investigation site, <em>CPP</em>, <em>ANSM</em>, CRO...) of the French public health code, and with point 2.3 of deliberations 2018-153, 2018-154, 2018-155, as well as with article 4 of deliberation 2015-256, any person collaborating in or ensuring the quality control of clinical research is subject to professional secrecy.</p>

    <p>In order to demonstrate respect for this secret, the Site has an event log that complies with the requirements of EudraLex Vol. 4, Annex 11 (European equivalence of FDA 21 CFR Part 11). For example, every change in a user's rights or profile is logged. Similarly, any consultation of a source document is recorded to demonstrate that only persons authorized by the Promoter have had access to these documents, as required by the legislation recalled below.</p>

    <h2><a name="_Toc37179263"></a>4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Management of Site user rights</h2>

    <p>In accordance with article 2.3.2 of deliberations 2018-153 and 2018-154 and article 4 of deliberation 2015-256, access to directly identifying data belonging to individuals participating in clinical research is limited to, inter alia:</p>

    <ul>

        <li>health professionals (as defined in Article L. 1110-12 of the French Public Health Code) and staff acting under their responsibility or authority, concerning the persons for whom they provide care in the context of research ;</li>

        <li>persons responsible for quality control and assurance (CRA, TEC), who must be mandated and authorized by the Sponsor.</li>

    </ul>

    <p>According to the same Article, in the case of verification of source data, the communication of directly identifying data may only be possible if:</p>

    <ul>

        <li>the data subject is informed in advance and does not object to the carrying out of the check ;</li>

        <li>the person in charge of quality control can only have access to the individual data necessary for this control;</li>

        <li>the data consulted are used to check the authenticity and consistency of the information collected and, if necessary, to have it corrected and supplemented, provided that the rules of confidentiality are respected.</li>

    </ul>

    <p>Consequently, any increase in the rights of a user of Our applications must be made in compliance with the legalization mentioned above. This elevation of rights is legally binding on the administrator who made it. Similarly, the investigator or his or her representative who uploads directly identifying health documents must ensure that these documents belong to patients participating in the clinical study to which the Site is attached.</p>

    <p>Any breach of the aforementioned professional secrecy is punishable under Articles 226-13 and 226-14 of the French Penal Code.</p>

    <h2>4.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Consulting directly identifying health documents</h2>

    <p>In addition to complying with the provisions of article 4.1 of these TOS, the consultation of source data must be carried out under appropriate conditions of confidentiality, such as for example:</p>

    <ul>

        <li>the use of a confidentiality filter to be placed on the screen ;</li>

        <li>the use of a secure internet network (no public wifi without a private and secure VPN);</li>

        <li>placing yourself in a place away from prying eyes.</li>

    </ul>

    <h1><a name="_Toc37179268"></a>Article 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</h1>

    <h2><a name="_Toc37179269"></a>5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Collection, use and protection of data</h2>

    <p>In accordance with the General Regulation on Data Protection (GDPR) adopted by the European Parliament on April 14<sup>th</sup>, 2016, and in effect in the Member States since May 25<sup>th</sup>, 2018, as well as the French Data Protection Act of January, 6<sup>th</sup> 1978 amended, we inform you of the points below.</p>

    <p>The GDPR defines different actors such as:</p>

    <ul>

        <li><strong>the data subject</strong>: person to whom the data undergoing processing relates;</li>

        <li><strong>the controller</strong>: person who determines the purpose and means of the processing;</li>

        <li><strong>the processor</strong>: person processing personal data on behalf of the controller.</li>

    </ul>

    <p>Within the framework of the clinical research in which you are taking part, the study Sponsor is the treatment manager, Clinfile is the subcontractor.</p>

    <h2><a name="_Toc37179270"></a>5.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Personal or identifying data collected (excluding health data)</h2>

    <h3><a name="_Toc37179271"></a><a name="_Toc37178690"></a><a name="_Toc37178802"></a><a name="_Toc37178691"></a><a name="_Toc37178803"></a>5.2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Clinical study stakeholders case</h3>

    <p>As a stakeholder in clinical research (investigating doctor, clinical research associate, datamanager, project manager...), some of your so-called personal data are collected by Clinfile on behalf of the Sponsor of the clinical study in which you participate.</p>

    <p>Personal data means any information related to an identified or identifiable natural person. An identifiable person is one who can be identified directly or indirectly by reference, in particular, to a name, an identification number or to one or more factors specific to his or her physical, physiological, genetic, mental, economic, cultural or social identity.</p>

    <p>For the purposes described in point 5.3, the following personal data are collected:</p>

    <ul>

        <li>name;</li>

        <li>first name;</li>

        <li>civility;</li>

        <li>e-mail address;</li>

        <li>professional status;</li>

        <li>postal address or name of employer.</li>

    </ul>

    <p>The following data may possibly be collected:</p>

    <ul>

        <li>telephone number&nbsp;;</li>

        <li>fax number.</li>

    </ul>

    <p>This data can be consulted by clicking on the menu &ldquo;My account&rdquo;. They can be rectified by simply asking a study administrator.</p>

    <h3><a name="_Toc37179272"></a>5.2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For all users</h3>

    <p>The IP address of the machine used to access the Site is stored in the connection logs of our Apache servers. The sole purpose of this collection is to be able to take action against any possible intrusion or malicious use of the Site. The use of the Site being inherent to this collection of data, the continued browsing of this Site constitutes acceptance of this collection by the user.</p>

    <h2><a name="_Toc37179273"></a>5.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Purposes of processing</h2>

    <p>The above-mentioned data are collected by Clinfile on behalf of the data controller within the framework of the execution of the contract signed by the participants of the clinical study. This contract is sufficient to legitimize this collection under Article 6, paragraph 1. point b) of the GDPR.</p>

    <p>The data are collected for the purposes of the following processing operations:</p>

    <ul>

        <li>access and use of the application by the user;</li>

        <li>implementation of user assistance;</li>

        <li>verification, identification and authentication of the data transmitted by the user;</li>

        <li>traceability of the actions carried out;</li>

        <li>various statistics.</li>

    </ul>

    <h2><a name="_Toc37179274"></a>5.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Data protection</h2>

    <p>As specified in Article 1, the applications and their data are hosted on servers located in France. In accordance with Article L.1111-8 of the French Public Health Code, as amended by Law No. 2016-41 of January 26<sup>th</sup>, 2016, these servers are HDS (Health Data Hosting) certified. This is a label issued by the French Ministry of Health that certifies that the health data we process or collect is hosted under security conditions adapted to its criticality.</p>

    <h2><a name="_Toc37179275"></a>5.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Data retention policy</h2>

    <p>We keep the personal data of the users of the Site only for the time corresponding to the purposes of collection as indicated above. At the end of the execution of the subcontracting contract established with the Sponsor, all data of the Site are destroyed from Our servers and a destruction certificate is issued.</p>

    <h2><a name="_Toc37179276"></a>5.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sharing personal data with third parties</h2>

    <p>Personal data may be shared with third party companies exclusively within the European Union in the following cases:</p>

    <ul>

        <li>when the user authorizes the website of a third-party to access his/her data;</li>

        <li>if required by law, we may carry out the transmission of data in order to follow up claims made against us and to comply with administrative and legal procedures.</li>

    </ul>

    <h2><a name="_Toc37179277"></a><a name="_Toc37178698"></a><a name="_Toc37178810"></a><a name="_Toc37178699"></a><a name="_Toc37178811"></a><a name="_Toc37178700"></a><a name="_Toc37178812"></a>5.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rights of the data subject over his data</h2>

    <p>Pursuant to the regulations applicable to personal data, data subjects do have rights. Some of which are listed below.</p>

    <h3><a name="_Toc37179278"></a>5.7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right of access</h3>

    <p>You may exercise your right of access to your personal data by contacting us in writing <em>via</em> the contact details given in point 5.7.8. In this case, before implementing this right, we may ask you for proof of your identity in order to be able to access your request in accordance with the law.</p>

    <h3><a name="_Toc37179279"></a>5.7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to rectification</h3>

    <p>If the personal data we hold about you is inaccurate, you may request an update.</p>

    <h3><a name="_Toc37179280"></a>5.7.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to erasure (right to be forgotten)</h3>

    <p>You may request the deletion of your personal data in accordance with the applicable data protection laws.</p>

    <h3><a name="_Toc37179281"></a>5.7.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to restriction of processing</h3>

    <p>You may ask us to limit the processing of personal data in accordance with the assumptions set out in the GDPR.</p>

    <h3><a name="_Toc37179282"></a>5.7.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to object</h3>

    <p>You may object to your data being processed in accordance with the assumptions set out in the GDPR.</p>

    <h3><a name="_Toc37179283"></a>5.7.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to be noticed</h3>

    <p>The GDPR requires the controller to report any breach to the competent supervisory authority (the French <em>Commission nationale de l'informatique et des libert&eacute;s &ndash;</em> <em>CNIL</em>) within 72&nbsp;hours and to the data subjects as soon as possible. Any breach must also be recorded in a dedicated register kept by the controller.</p>

    <h3><a name="_Toc37179284"></a>5.7.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right to data portability</h3>

    <p>You can ask us to hand over your personal data to you for transmission to a new platform.</p>

    <h3><a name="_Toc37179285"></a>5.7.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Exercise of these rights</h3>

    <p>You may exercise all or part of these rights by contacting us at the following address: DPO &ndash; Multihealth, 13 avenue Morane Saulnier, B&acirc;t. Santos-Dumont, 78140 V&eacute;lizy-Villacoublay, FRANCE, or by e-mail at: <a href="mailto:dpo@multihealthgroup.com">dpo@multihealthgroup.com</a>.</p>

    <p>All requests must be accompanied by a photocopy of a valid, signed identity document and must indicate the address where we can contact you. A reply will be sent within one month of receiving the request. This one-month period may be extended by two months if the complexity of the application and/or the number of applications so requires.</p>

    <p>In addition, and since the French law n&deg;2016-1321 of October 7<sup>th</sup>, 2016, people who wish to do so have the possibility to organize the fate of their data after their death.</p>

    <p>However, we remain entitled, if necessary, to oppose requests that are manifestly abusive (due to their number, repetitive or systematic nature).</p>

    <p>Users may also submit a complaint to the French <em>Commission nationale de l'informatique et des libert&eacute;s &ndash;</em> <em>CNIL</em> on the site: <a href="http://www.cnil.fr">www.cnil.fr</a>. However, we recommend that you contact us first before filing a complaint with the CNIL. We are at your entire disposal to solve your problem.</p>

    <h1><a name="_Toc37179286"></a>Article 6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cookies</h1>

    <p>&ldquo;Cookies&rdquo; are small text files of limited size that we store on your machine. It allows us to recognize your computer, tablet or mobile phone, but without being able to identify you personally, in order to personalize the services we offer you.</p>

    <p>In accordance with the recommendations of the French <em>Commission nationale de l'informatique et des libert&eacute;s &ndash;</em> <em>CNIL</em>, some cookies are exempted from the prior collection of your consent insofar as they are strictly necessary for the operation of the website or have the exclusive purpose of allowing or facilitating communication by electronic means. These include but are not limited to: session identifier cookies, authentication cookies, load balancing session cookies and cookies for personalizing your interface. These cookies are fully subject to this policy insofar as they are issued and managed by us.</p>

    <p>This Site only uses cookies that are strictly necessary for its proper functioning. The creation and use of these cookies are not subject to your consent as explained in the previous paragraph. You may, however, set your browser to prevent the creation of these cookies on your equipment. Nonetheless, since these cookies are essential to the proper functioning of this Site, the use of this Site will not be optimal.</p>

    <h1><a name="_Toc37179287"></a>Article 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Site content</h1>

    <p>All trademarks, photographs, texts, comments, illustrations, animated or non-animated images, video sequences, sounds, as well as all computer applications that could be used to operate this Site and more generally all elements reproduced or used on the Site are protected by the laws in effect under intellectual property. They are the full and entire property of their author.</p>

    <p>Any reproduction, representation, use or adaptation, in any form whatsoever, of all or part of these elements, including computer applications, without the prior written consent of their owner, is strictly prohibited. The fact that the owner does not initiate proceedings as soon as he becomes aware of these unauthorized uses does not constitute acceptance of the said uses, nor a waiver of prosecution.</p>

    <h1><a name="_Toc37179288"></a>Article 8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Responsibility</h1>

    <p>You are solely responsible for the material used to connect to the site. You must take all appropriate measures to protect your equipment and your own data, in particular from virus attacks <em>via</em> the Internet. Third-party software such as the operating system of your machine or the web browser you use to connect to the Site must not be outdated. Moreover, you are solely responsible for the sites and data that you consult. Any file uploaded to our servers through the Site must be lawful.</p>

    <p>We shall not be held liable in the event of legal proceedings against you as a result of your failure to comply with these TOS.</p>

    <p>If we were to be the subject of a settlement or legal procedure due to a misuse of the Site by you, we may oppose non-compliance with these TOS to obtain compensation for all damages, sums, convictions and costs that may result from this procedure.</p>

    <h1><a name="_Toc37179289"></a>Article 9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Applicable law</h1>

    <p>These terms and conditions of use of the Site are governed by French laws and subject to the jurisdiction of the courts of our registered office, or subject to a specific allocation of jurisdiction arising from a particular law or regulation.</p>

    <h1><a name="_Toc37179290"></a>Article 10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contact us</h1>

    <p>For any question, information on the products presented on the Site, or concerning the Site itself, you can send a message to the following address: <a href="mailto:contact@multihealthgroup.com">contact@multihealthgroup.com</a>.</p>

{% endblock %}
