{% block content %}
    <h1>Edition config</h1>

    <div class="admin-block">

        <a href type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
        <button type="submit" class="btn btn-primary">Confirmer</button>
    </div>
{% endblock %}
