{% block content %}

    <div class="admin-block">

        <div>
            <span class="text-danger">Êtes-vous sûr de vouloir clôturer la déviation ?</span>
        </div>

    </div>

{% endblock %}
