{% block content %}

    <div class="admin-block">

        <div>
            <span class="text-danger">La suppression du brouillon est irréversible et entrainera la perte de toutes les données liées à cette déviation.</span>
        </div>

    </div>

{% endblock %}