#deviation_sample_declaration_efficiencyJustify {
  min-height: 125px;
}

#deviation_sample_declaration_notEfficiencyMeasureReason {
  min-height: 125px;
}

#deviation_sample_declaration_description {
  min-height: 125px;
}

#deviation_sample_declaration_causalityDescription {
  min-height: 125px;
}

#deviation_and_sample_resume {
  min-height: 125px;
}

#deviation_sample_declaration_causality {
  .form-check {
    display: block;
  }

  .form-check-label {
    float: left;
  }
}
