{% block content %}

    <div class="admin-block">

        <p>Voulez vous terminer la revue ? <br>
            Les informations de la revue ne seront plus modifiables et les actions supplémentaires seront ajoutées au Plan d'action de la déviation système.
        </p>

    </div>

{% endblock %}
