{% block content %}

    <div class="admin-block">

        Etes-vous sûr de vouloir supprimer <br>
        cette revue ? <br>
        <strong>ATTENTION : </strong> Cette action est irréversible.

    </div>

{% endblock %}
