#deviation_declaration_type {

  min-width: 373px;

}

#deviation_declaration_subType {

  min-width: 373px;

}

#deviation_declaration_center {

  min-width: 225px;
  font-size: 0.8em;

}

#deviation_declaration_institution {

  min-width: 225px;
  font-size: 0.8em;

}

#deviation_declaration_patient {

  min-width: 225px;
  font-size: 0.8em;

}

#deviation_declaration_resume {

  width: 450px;

}

.label-potential-impact {

  padding-left: 18px;

}

.label-potential-impact-description {

  padding: 0 0 0 18px;

}

#deviation_declaration_potentialImpactDescription {

  margin-left: 5px;
  min-width: 173px;

}

#deviation_declaration_potentialImpact {

  min-width: 175px;
  margin-left: 5px;

}

#deviation_declaration_description {

  min-width: 450px !important;
  min-height: 150px !important;

}

#deviation_declaration_causality {

  .form-check {
    display: block;
  }

  .form-check-label {
    float: left;
  }

}

#deviation_declaration_causalityDescription {

  height: 250px;
  width: 485px;

}

#deviation_declaration_efficiencyJustify {

  width: 250px;
  min-height: 100px;

}

#deviation_declaration_notEfficiencyMeasureReason {

  width: 250px;
  min-height: 100px;

}