
// Flatpickr
.flatpickr-weekdays{
  background: $c_blue_light!important;
  color: white!important;
}
.flatpickr-months .flatpickr-month{
  background: $c_blue_light!important;
  color: white!important;
}
span.flatpickr-weekday{
  background: $c_blue_light!important;
  color: white!important;
}
