{% extends 'app/tos.html.twig' %}

{% block tos %}
    {# copier coller le html ici #}

    <p><strong>Version du 30/04/2020.</strong></p>

    <p>Chez Clinfile, nous sommes soucieux des droits des individus, notamment au regard des traitements automatis&eacute;s. Dans une volont&eacute; de transparence avec nos utilisateurs, nous avons mis en place une politique de confidentialit&eacute; (voir Article 5 des pr&eacute;sentes CGU) qui d&eacute;finit la mani&egrave;re dont nous utilisons et prot&eacute;geons les informations que vous nous transmettez. Cette politique de confidentialit&eacute; r&eacute;sume &eacute;galement les moyens d&rsquo;actions mis &agrave; votre disposition pour exercer vos droits.</p>

    <p>Les pr&eacute;sentes CGU s&rsquo;appliquent lorsque vous utilisez le pr&eacute;sent site web <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getHttpHost() }}</a> (d&eacute;nomm&eacute; ci-apr&egrave;s le &laquo;&nbsp;Site&nbsp;&raquo;), &eacute;dit&eacute; par Clinfile (voir Article 1 des pr&eacute;sentes CGU), pour le compte du Promoteur (sponsor) de l&rsquo;&eacute;tude clinique &agrave; laquelle vous participez.</p>

    <p>Pour toute information compl&eacute;mentaire sur la protection des donn&eacute;es personnelles, nous vous invitons &agrave; consulter le site de Commission Nationale de l&rsquo;Informatique et des Libert&eacute;s (Cnil)&nbsp;: <a href="http://www.cnil.fr">www.cnil.fr</a>.</p>

    <p>Un d&eacute;l&eacute;gu&eacute; &agrave; la protection des donn&eacute;es (DPO, <em>Data Protection Officer</em>) est &agrave; votre disposition pour toute question relative &agrave; la protection de vos donn&eacute;es personnelles &agrave; l&rsquo;adresse suivante&nbsp;: <a href="mailto:dpo@multihealthgroup.com">dpo@multihealthgroup.com</a>.</p>

    <p>La poursuite de la navigation sur ce Site vaut pour acceptation sans r&eacute;serve des dispositions et conditions d'utilisation qui suivent. La version actuellement en ligne de ces conditions d'utilisation est la seule opposable pendant toute la dur&eacute;e d'utilisation du Site et jusqu'&agrave; ce qu'une nouvelle version la remplace. Les utilisateurs du Site sont donc invit&eacute;s &agrave; prendre r&eacute;guli&egrave;rement connaissance des pr&eacute;sentes CGU, la date de la mise &agrave; jour &eacute;tant clairement identifi&eacute;e en haut de cette page.</p>

    <p><strong>Table des mati&egrave;res</strong></p>

    <p><a href="#_Toc37171110">Article 1&nbsp;&nbsp; Mentions l&eacute;gales</a></p>

    <p><a href="#_Toc37171111">Article 2&nbsp;&nbsp; Acc&egrave;s au Site</a></p>

    <p><a href="#_Toc37171112">2.1&nbsp;&nbsp;&nbsp;&nbsp; Consentement</a></p>

    <p><a href="#_Toc37171113">Article 3&nbsp;&nbsp; Gestion du Site</a></p>

    <p><a href="#_Toc37171114">Article 4&nbsp;&nbsp; Dispositions particuli&egrave;res relatives aux donn&eacute;es de sant&eacute;</a></p>

    <p><a href="#_Toc37171115">4.1&nbsp;&nbsp;&nbsp;&nbsp; Gestion des droits des utilisateurs du Site</a></p>

    <p><a href="#_Toc37171116">4.2&nbsp;&nbsp;&nbsp;&nbsp; Consultation de documents de sant&eacute; directement identifiants</a></p>

    <p><a href="#_Toc37171117">Article 5&nbsp;&nbsp; Politique de confidentialit&eacute;</a></p>

    <p><a href="#_Toc37171118">5.1&nbsp;&nbsp;&nbsp;&nbsp; Collecte, utilisation et protection des donn&eacute;es</a></p>

    <p><a href="#_Toc37171119">5.2&nbsp;&nbsp;&nbsp;&nbsp; Donn&eacute;es personnelles ou identifiantes collect&eacute;es (hors donn&eacute;es de sant&eacute;)</a></p>

    <p><a href="#_Toc37171120">5.2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cas des acteurs de l&rsquo;&eacute;tude clinique</a></p>

    <p><a href="#_Toc37171121">5.2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pour tous les utilisateurs</a></p>

    <p><a href="#_Toc37171122">5.3&nbsp;&nbsp;&nbsp;&nbsp; Finalit&eacute;s du traitement</a></p>

    <p><a href="#_Toc37171123">5.4&nbsp;&nbsp;&nbsp;&nbsp; Protection des donn&eacute;es</a></p>

    <p><a href="#_Toc37171124">5.5&nbsp;&nbsp;&nbsp;&nbsp; Politique de conservation des donn&eacute;es</a></p>

    <p><a href="#_Toc37171125">5.6&nbsp;&nbsp;&nbsp;&nbsp; Partage des donn&eacute;es personnelles avec des tiers</a></p>

    <p><a href="#_Toc37171126">5.7&nbsp;&nbsp;&nbsp;&nbsp; Droits de la personne concern&eacute;es sur ses donn&eacute;es</a></p>

    <p><a href="#_Toc37171127">5.7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit d&rsquo;acc&egrave;s</a></p>

    <p><a href="#_Toc37171128">5.7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit de rectification</a></p>

    <p><a href="#_Toc37171129">5.7.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit de suppression des donn&eacute;es (droits &agrave; l&rsquo;oubli)</a></p>

    <p><a href="#_Toc37171130">5.7.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit de limitation du traitement</a></p>

    <p><a href="#_Toc37171131">5.7.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit d&rsquo;opposition au traitement des donn&eacute;es</a></p>

    <p><a href="#_Toc37171132">5.7.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit de notification</a></p>

    <p><a href="#_Toc37171133">5.7.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit de portabilit&eacute;</a></p>

    <p><a href="#_Toc37171134">5.7.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Exercice de ces droits</a></p>

    <p><a href="#_Toc37171135">Article 6&nbsp;&nbsp; Cookies</a></p>

    <p><a href="#_Toc37171136">Article 7&nbsp;&nbsp; Contenu du Site</a></p>

    <p><a href="#_Toc37171137">Article 8&nbsp;&nbsp; Responsabilit&eacute;s</a></p>

    <p><a href="#_Toc37171138">Article 9&nbsp;&nbsp; Loi applicable</a></p>

    <p><a href="#_Toc37171139">Article 10 Contactez-nous</a></p>

    <p>&nbsp;</p>

    <h1><a name="_Toc37171110"></a>Article 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mentions l&eacute;gales</h1>

    <p>Clinfile SAS (ci-apr&egrave;s d&eacute;nomm&eacute;e &laquo;&nbsp;nous&nbsp;&raquo;), au capital de 960&nbsp;000,00&nbsp;&euro;, dont le si&egrave;ge social est situ&eacute; au 13 avenue Morane Saulnier, B&acirc;t.&nbsp;Santos-Dumont, 78140 V&eacute;lizy-Villacoublay, repr&eacute;sent&eacute;e par le Dr&nbsp;G&eacute;rard Sorba, en sa qualit&eacute; de Pr&eacute;sident, immatricul&eacute;e au RCS de V&eacute;lizy-Villacoublay sous le num&eacute;ro 524&nbsp;637&nbsp;709 est une soci&eacute;t&eacute; &eacute;ditrice d&rsquo;applications web de gestion de recherche clinique, filiale du groupe MultiHealth (<a href="http://www.multihealthgroup.com">www.multihealthgroup.com</a>). T&eacute;l&eacute;phone&nbsp;: 01&nbsp;80&nbsp;13&nbsp;14&nbsp;70, e-mail&nbsp;: <a href="mailto:contact@multihealthgroup.com">contact@multihealthgroup.com</a>.</p>

    <p>Ces applications web (ou sites), ainsi que les donn&eacute;es collect&eacute;es, sont h&eacute;berg&eacute;es par Cegedim SA, au capital de 13 336 506,43 &euro;, dont le si&egrave;ge social est situ&eacute; au 137&nbsp;rue d&rsquo;Aguesseau, 92100 Boulogne-Billancourt, immatricul&eacute;e au RCS de Nanterre sous le num&eacute;ro B&nbsp;350&nbsp;422&nbsp;622, t&eacute;l&eacute;phone&nbsp;: 01&nbsp;49&nbsp;09&nbsp;22&nbsp;00, e-mail&nbsp;: <a href="mailto:cnil@cegedim.fr">cnil@cegedim.fr</a>, sur des serveurs situ&eacute;s en France.</p>

    <p>Conform&eacute;ment &agrave; l&rsquo;article L.1111-8 du code de la sant&eacute; publique, modifi&eacute; par la loi n&deg; 2016-41 du 26 janvier 2016, ces serveurs sont certifi&eacute;s HDS (H&eacute;bergement de Donn&eacute;es de Sant&eacute;). Il s&rsquo;agit d&rsquo;un label d&eacute;livr&eacute; par le minist&egrave;re de la Sant&eacute; qui atteste que les donn&eacute;es de sant&eacute; que nous traitons sont h&eacute;berg&eacute;es dans des conditions de s&eacute;curit&eacute; adapt&eacute;es &agrave; leur criticit&eacute;.</p>

    <h1><a name="_Toc37171111"></a>Article 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Acc&egrave;s au Site</h1>

    <p>L'acc&egrave;s au Site et son utilisation sont r&eacute;serv&eacute;s &agrave; un usage strictement individuel. Vous vous engagez &agrave; ne pas divulguer vos identifiants de connexion, et ne pas utiliser ce Site et les informations ou donn&eacute;es qui y figurent &agrave; des fins qui sortent du cadre de l&rsquo;&eacute;tude clinique &agrave; laquelle vous participez.</p>

    <h2><a name="_Toc37171112"></a><a name="_Toc29287769"></a>2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Consentement</h2>

    <p>L&rsquo;utilisation de ce Site est soumise &agrave; l&rsquo;acceptation des pr&eacute;sentes CGU. Tant que l&rsquo;utilisateur n&rsquo;a pas coch&eacute; la case indiquant qu&rsquo;il a lu et qu&rsquo;il accepte les pr&eacute;sentes CGU, et qu&rsquo;il n&rsquo;a pas confirm&eacute; en cliquant sur le bouton &laquo;&nbsp;Valider&nbsp;&raquo;, l&rsquo;utilisation du Site ne sera pas possible. &Agrave; tout moment, l&rsquo;utilisateur peut retirer son consentement quant aux pr&eacute;sentes CGU. Pour ce faire, l&rsquo;utilisateur devra formuler sa requ&ecirc;te en se r&eacute;f&eacute;rant au point 5.7.8.</p>

    <h1><a name="_Toc37171113"></a>Article 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gestion du Site</h1>

    <p>Afin de garantir la meilleure qualit&eacute; de service possible, nous pourrons &agrave; tout moment&nbsp;:</p>

    <ul>

        <li>suspendre, interrompre ou limiter l'acc&egrave;s &agrave; tout ou partie du Site, en r&eacute;server l'acc&egrave;s total ou &agrave; certaines parties, &agrave; une cat&eacute;gorie d&eacute;termin&eacute;e d'internautes&nbsp;;</li>

        <li>supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou europ&eacute;ennes&nbsp;;</li>

        <li>suspendre le site afin de proc&eacute;der &agrave; des mises &agrave; jour.</li>

    </ul>

    <h1><a name="_Toc37171114"></a>Article 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dispositions particuli&egrave;res relatives aux donn&eacute;es de sant&eacute;</h1>

    <p>Comme mentionn&eacute; &agrave; l&rsquo;Article 8 des pr&eacute;sentes CGU, l&rsquo;utilisation de Nos applications est subordonn&eacute;e au respect de la l&eacute;gislation en vigueur. Cela implique entre autres le respect des D&eacute;lib&eacute;rations n&deg; 2018-153, ou 2015-256, ou 2018-154, ou 2018-155, portant homologation des m&eacute;thodologies de r&eacute;f&eacute;rence MR-001, MR-002, MR-003 et MR-004, respectivement.</p>

    <p>Conform&eacute;ment aux articles L1121-3 (concernent les moniteurs) et R5121-13 (site d&rsquo;investigation, CPP, ANSM, CRO&hellip;) du code de la sant&eacute; publique, au point 2.3 des d&eacute;lib&eacute;rations 2018-153, 2018-154 et 2018-155, ainsi qu&rsquo;&agrave; l&rsquo;article 4 de la d&eacute;lib&eacute;ration 2015-256, toute personne collaborant ou assurant le contr&ocirc;le qualit&eacute; d&rsquo;une recherche clinique est soumise au secret professionnel.</p>

    <p>Afin de d&eacute;montrer le respect de ce secret, le Site dispose d&rsquo;un journal d&rsquo;&eacute;v&egrave;nement conforme aux exigences de la norme EudraLex Vol.&nbsp;4, annexe&nbsp;11 (&eacute;quivalence europ&eacute;enne de la FDA&nbsp;21&nbsp;CFR&nbsp;Part&nbsp;11). &Agrave; titre d&rsquo;exemple, chaque changement de droits ou de profil d&rsquo;un utilisateur est trac&eacute;. De m&ecirc;me, toute consultation d&rsquo;un document source est enregistr&eacute;e afin de d&eacute;montrer que seules les personnes habilit&eacute;es par le Promoteur ont eu acc&egrave;s &agrave; ces documents, tel qu&rsquo;exig&eacute; par la l&eacute;gislation rappel&eacute;e ci-dessous.</p>

    <h2><a name="_Toc37171115"></a>4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gestion des droits des utilisateurs du Site</h2>

    <p>Conform&eacute;ment &agrave; l&rsquo;article 2.3.2 des d&eacute;lib&eacute;rations 2018-153 et 2018-154 et &agrave; l&rsquo;article 4 de la d&eacute;lib&eacute;ration 2015-256, l&rsquo;acc&egrave;s &agrave; des donn&eacute;es directement identifiantes concernant les personnes participant &agrave; une recherche clinique est limit&eacute;, entre autres, aux&nbsp;:</p>

    <ul>

        <li>professionnels de sant&eacute; (tels que d&eacute;fini &agrave; l&rsquo;article L.&nbsp;1110-12 du CSP) et personnels agissant sous leur responsabilit&eacute; ou leur autorit&eacute;, concernant les personnes dont ils assurent la prise en charge dans le cadre de la recherche&nbsp;;</li>

        <li>personnes responsables du contr&ocirc;le et de l'assurance de qualit&eacute; (ARC, TEC), qui doivent &ecirc;tre mandat&eacute;es et habilit&eacute;es par le responsable de traitement.</li>

    </ul>

    <p>En vertu de ce m&ecirc;me article, dans le cas d&rsquo;une v&eacute;rification de donn&eacute;e source, la communication de donn&eacute;es directement identifiantes ne peut &ecirc;tre possible que si :</p>

    <ul>

        <li>la personne se pr&ecirc;tant &agrave; la recherche est pr&eacute;alablement inform&eacute;e et ne s'oppose pas &agrave; la r&eacute;alisation du contr&ocirc;le ;</li>

        <li>la personne charg&eacute;e du contr&ocirc;le qualit&eacute; ne peut avoir acc&egrave;s qu'aux donn&eacute;es individuelles n&eacute;cessaires &agrave; ce contr&ocirc;le ;</li>

        <li>les donn&eacute;es consult&eacute;es servent &agrave; v&eacute;rifier l'authenticit&eacute; et la coh&eacute;rence des informations recueillies et si n&eacute;cessaire &agrave; les faire corriger et compl&eacute;ter, pour autant que les r&egrave;gles de confidentialit&eacute; soient respect&eacute;es.</li>

    </ul>

    <p>Par cons&eacute;quent, toute &eacute;l&eacute;vation de droit d&rsquo;un utilisateur de Nos applications doit &ecirc;tre faite dans le respect de la l&eacute;galisation suscit&eacute;e. Cette &eacute;l&eacute;vation de droit engage l&eacute;galement l&rsquo;administrateur qui l&rsquo;a r&eacute;alis&eacute;e. De m&ecirc;me, l&rsquo;investigateur ou son repr&eacute;sentant qui t&eacute;l&eacute;verse les documents de sant&eacute; directement identifiants doit s&rsquo;assurer que ces documents appartiennent &agrave; des patients participant &agrave; l&rsquo;&eacute;tude clinique &agrave; laquelle le Site est rattach&eacute;.</p>

    <p>Toute entorse au respect du secret professionnel susmentionn&eacute; est r&eacute;pr&eacute;hensible aux titres des articles 226-13 et&nbsp;226-14 du code p&eacute;nal.</p>

    <h2><a name="_Toc37171116"></a>4.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Consultation de documents de sant&eacute; directement identifiants</h2>

    <p>En plus de respecter les dispositions de l&rsquo;article 4.1 des pr&eacute;sentes CGU, la consultation de donn&eacute;es sources doit &ecirc;tre r&eacute;alis&eacute;e dans des conditions de confidentialit&eacute;s appropri&eacute;es comme par exemple&nbsp;:</p>

    <ul>

        <li>L&rsquo;utilisation d&rsquo;un filtre de confidentialit&eacute; &agrave; placer sur l&rsquo;&eacute;cran&nbsp;;</li>

        <li>L&rsquo;utilisation d&rsquo;un r&eacute;seau internet s&ucirc;r (pas de wifi public sans VPN priv&eacute; et s&ucirc;r)&nbsp;;</li>

        <li>Se placer dans un endroit &agrave; l&rsquo;abri des regards indiscrets.</li>

    </ul>

    <h1><a name="_Toc37171117"></a>Article 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Politique de confidentialit&eacute;</h1>

    <h2><a name="_Toc37171118"></a>5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Collecte, utilisation et protection des donn&eacute;es</h2>

    <p>Conform&eacute;ment au R&egrave;glement G&eacute;n&eacute;ral sur la Protection des Donn&eacute;es (RGPD) adopt&eacute; par le Parlement europ&eacute;en le 14 avril 2016 et en vigueur dans les &eacute;tats membres depuis le 25&nbsp;mai&nbsp;2018, ainsi qu&rsquo;&agrave; la Loi Informatique et Libert&eacute;s du 6 janvier 1978 modifi&eacute;e, nous vous informons des points ci-dessous.</p>

    <p>Le RGPD d&eacute;finit diff&eacute;rents acteurs tels que&nbsp;:</p>

    <ul>

        <li><strong>la personne concern&eacute;e</strong>: personne &agrave; laquelle se rapporte les donn&eacute;es faisant l&rsquo;objet du traitement&nbsp;;</li>

        <li><strong>le responsable du traitement</strong>: personne qui d&eacute;termine la finalit&eacute; et les moyens du traitement&nbsp;;</li>

        <li><strong>le sous-traitant</strong>: personne traitant des donn&eacute;es &agrave; caract&egrave;re personnel pour le compte du responsable du traitement.</li>

    </ul>

    <p>Dans le cadre de la recherche clinique &agrave; laquelle vous participez, le Promoteur de l&rsquo;&eacute;tude est le responsable du traitement, Clinfile est le sous-traitant.</p>

    <h2><a name="_Toc37171119"></a>5.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Donn&eacute;es personnelles ou identifiantes collect&eacute;es (hors donn&eacute;es de sant&eacute;)</h2>

    <h3><a name="_Toc37171120"></a>5.2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cas des acteurs de l&rsquo;&eacute;tude clinique</h3>

    <p>En tant qu&rsquo;acteur de la recherche clinique (m&eacute;decin investigateur, attach&eacute; de recherche clinique&hellip;), certaines de vos donn&eacute;es dites personnelles sont collect&eacute;es par Clinfile pour le compte du Promoteur de l&rsquo;&eacute;tude clinique &agrave; laquelle vous participez.</p>

    <p>Une donn&eacute;e &agrave; caract&egrave;re personnel d&eacute;signe toute information concernant une personne physique identifi&eacute;e ou identifiable. Est r&eacute;put&eacute;e identifiable une personne qui peut &ecirc;tre identifi&eacute;e directement ou indirectement par, notamment, r&eacute;f&eacute;rence &agrave; un nom, un num&eacute;ro d'identification ou &agrave; un ou plusieurs &eacute;l&eacute;ments sp&eacute;cifiques, propres &agrave; son identit&eacute; physique, physiologique, g&eacute;n&eacute;tique, psychique, &eacute;conomique, culturelle ou sociale.</p>

    <p>Pour les finalit&eacute;s d&eacute;crites au point 5.3, les donn&eacute;es personnelles suivantes sont collect&eacute;es&nbsp;:</p>

    <ul>

        <li>nom&nbsp;;</li>

        <li>pr&eacute;nom&nbsp;;</li>

        <li>civilit&eacute;&nbsp;;</li>

        <li>adresse e-mail&nbsp;;</li>

        <li>statut professionnel&nbsp;;</li>

        <li>adresse postale ou nom de l&rsquo;employeur.</li>

    </ul>

    <p>Les donn&eacute;es suivantes peuvent &eacute;ventuellement &ecirc;tre collect&eacute;es&nbsp;:</p>

    <ul>

        <li>num&eacute;ro de t&eacute;l&eacute;phone&nbsp;;</li>

        <li>num&eacute;ro de fax.</li>

    </ul>

    <p>Ces donn&eacute;es sont consultables en cliquant sur le menu &laquo;&nbsp;Mon compte&nbsp;&raquo;. Elles peuvent &ecirc;tre rectifi&eacute;es par simple demande &agrave; un administrateur de l&rsquo;&eacute;tude.</p>

    <h3><a name="_Toc37171121"></a>5.2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pour tous les utilisateurs</h3>

    <p>L&rsquo;adresse IP de la machine utilis&eacute;e pour acc&eacute;der au Site est stock&eacute;e dans les journaux de connexions de nos serveurs Apache. La seule finalit&eacute; de cette collecte est de pouvoir engager des actions contre toute &eacute;ventuelle intrusion ou utilisation malveillante du Site. L&rsquo;utilisation du Site &eacute;tant inh&eacute;rente &agrave; cette collecte de donn&eacute;e, la poursuite de la navigation sur ce Site vaut pour acceptation de l&rsquo;utilisateur de cette collecte.</p>

    <h2><a name="_Toc37171122"></a>5.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Finalit&eacute;s du traitement</h2>

    <p>Les donn&eacute;es pr&eacute;c&eacute;demment cit&eacute;es sont collect&eacute;es par Clinfile pour le compte du responsable du traitement dans le cadre de l&rsquo;ex&eacute;cution du contrat que les intervenants de l&rsquo;&eacute;tude clinique ont sign&eacute;. Ce contrat suffit &agrave; l&eacute;gitimer cette collecte en vertu de l&rsquo;article 6, paragraphe 1. Point b) du RGPD.</p>

    <p>La collecte de ces donn&eacute;es est r&eacute;alis&eacute;e aux fins que les traitements suivants puissent &ecirc;tre op&eacute;r&eacute;s&nbsp;:</p>

    <ul>

        <li>acc&egrave;s et utilisation de l&rsquo;application par l'utilisateur&nbsp;;</li>

        <li>mise en &oelig;uvre d'une assistance utilisateurs&nbsp;;</li>

        <li>v&eacute;rification, identification et authentification des donn&eacute;es transmises par l'utilisateur&nbsp;;</li>

        <li>tra&ccedil;abilit&eacute; des actions men&eacute;es&nbsp;;</li>

        <li>diverses statistiques.</li>

    </ul>

    <h2><a name="_Toc37171123"></a>5.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Protection des donn&eacute;es</h2>

    <p>Comme pr&eacute;cis&eacute; &agrave; l&rsquo;Article 1, les applications et leurs donn&eacute;es sont h&eacute;berg&eacute;es sur des serveurs situ&eacute;s en France. Conform&eacute;ment &agrave; l&rsquo;article L.1111-8 du code de la sant&eacute; publique, modifi&eacute; par la loi n&deg; 2016-41 du 26 janvier 2016, ces serveurs sont certifi&eacute;s HDS (H&eacute;bergement de Donn&eacute;es de Sant&eacute;). Il s&rsquo;agit d&rsquo;un label d&eacute;livr&eacute; par le minist&egrave;re de la Sant&eacute; qui atteste que les donn&eacute;es de sant&eacute; que nous traitons ou collectons sont h&eacute;berg&eacute;es dans des conditions de s&eacute;curit&eacute; adapt&eacute;es &agrave; leur criticit&eacute;.</p>

    <h2><a name="_Toc37171124"></a>5.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Politique de conservation des donn&eacute;es</h2>

    <p>Nous conservons les donn&eacute;es personnelles des utilisateurs du Site uniquement pour le temps correspondant aux finalit&eacute;s de la collecte telles qu&rsquo;indiqu&eacute;es ci-dessus. Au terme de l&rsquo;ex&eacute;cution du contrat de sous-traitance &eacute;tabli avec le Promoteur, toutes les donn&eacute;es du Site sont d&eacute;truites de Nos serveurs et un certificat de destruction est &eacute;mis.</p>

    <h2><a name="_Toc37171125"></a>5.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Partage des donn&eacute;es personnelles avec des tiers</h2>

    <p>Les donn&eacute;es personnelles peuvent &ecirc;tre partag&eacute;es avec des soci&eacute;t&eacute;s tierces exclusivement dans l&rsquo;Union europ&eacute;enne, dans les cas suivants&nbsp;:</p>

    <ul>

        <li>quand l'utilisateur autorise le site web d'un tiers &agrave; acc&eacute;der &agrave; ses donn&eacute;es&nbsp;;</li>

        <li>si la loi l'exige, nous pouvons effectuer la transmission de donn&eacute;es pour donner suite aux r&eacute;clamations pr&eacute;sent&eacute;es contre nous et se conformer aux proc&eacute;dures administratives et judiciaires.</li>

    </ul>

    <h2><a name="_Toc37171126"></a>5.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droits de la personne concern&eacute;es sur ses donn&eacute;es</h2>

    <p>En application de la r&eacute;glementation applicable aux donn&eacute;es &agrave; caract&egrave;re personnel, les personnes concern&eacute;es disposent de droits dont certains sont list&eacute;s ci-dessous.</p>

    <h3><a name="_Toc37171127"></a>5.7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit d&rsquo;acc&egrave;s</h3>

    <p>Vous pouvez exercer votre droit d'acc&egrave;s, pour conna&icirc;tre les donn&eacute;es personnelles vous concernant, en nous contactant par &eacute;crit via les moyens de contact donn&eacute;s au point 5.7.8. Dans ce cas, avant la mise en &oelig;uvre de ce droit, nous pourrons vous demander une preuve de votre identit&eacute; de afin de pouvoir acc&eacute;der &agrave; votre demande dans le respect de la l&eacute;galit&eacute;.</p>

    <h3><a name="_Toc37171128"></a>5.7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit de rectification</h3>

    <p>Si les donn&eacute;es &agrave; caract&egrave;re personnel que nous d&eacute;tenons et qui vous concernent sont inexactes, vous pouvez demander leur mise &agrave; jour.</p>

    <h3><a name="_Toc37171129"></a>5.7.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit de suppression des donn&eacute;es (droits &agrave; l&rsquo;oubli)</h3>

    <p>Vous pouvez demander la suppression de vos donn&eacute;es &agrave; caract&egrave;re personnel, conform&eacute;ment aux lois applicables en mati&egrave;re de protection des donn&eacute;es.</p>

    <h3><a name="_Toc37171130"></a>5.7.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit de limitation du traitement</h3>

    <p>Vous pouvez nous demander de limiter le traitement des donn&eacute;es personnelles conform&eacute;ment aux hypoth&egrave;ses pr&eacute;vues par le RGPD.</p>

    <h3><a name="_Toc37171131"></a>5.7.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit d&rsquo;opposition au traitement des donn&eacute;es</h3>

    <p>Vous pouvez vous opposer &agrave; ce que vos donn&eacute;es soient trait&eacute;es conform&eacute;ment aux hypoth&egrave;ses pr&eacute;vues par le RGPD.</p>

    <h3><a name="_Toc37171132"></a>5.7.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit de notification</h3>

    <p>Le RGPD impose au responsable du traitement que toute violation soit d&eacute;clar&eacute;e &agrave; l'autorit&eacute; de&nbsp; contr&ocirc;le comp&eacute;tente (Cnil) dans les 72&nbsp;h, ainsi qu&rsquo;aux personnes concern&eacute;es dans les meilleurs d&eacute;lais. Toute violation doit &eacute;galement &ecirc;tre consign&eacute;e dans un registre d&eacute;di&eacute; tenu par le responsable du traitement.</p>

    <h3><a name="_Toc37171133"></a>5.7.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit de portabilit&eacute;</h3>

    <p>Vous pouvez nous demander de vous remettre les donn&eacute;es personnelles vous concernant pour les transmettre &agrave; une nouvelle plateforme.</p>

    <h3><a name="_Toc37171134"></a>5.7.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Exercice de ces droits</h3>

    <p>Vous pouvez exercer tout ou partie de ces droits en nous contactant &agrave; l&rsquo;adresse suivante&nbsp;: DPO &ndash; MultiHealth, 13 avenue Morane Saulnier, B&acirc;t. Santos-Dumont, 78140 V&eacute;lizy-Villacoublay, ou par e-mail &agrave; l&rsquo;adresse&nbsp;: <a href="mailto:dpo@multihealthgroup.com">dpo@multihealthgroup.com</a>.</p>

    <p>Toute demande doit &ecirc;tre accompagn&eacute;e de la photocopie d&rsquo;un titre d&rsquo;identit&eacute; en cours de validit&eacute; sign&eacute; et faire mention de l&rsquo;adresse &agrave; laquelle nous pourrons vous contacter. La r&eacute;ponse sera adress&eacute;e dans le mois suivant la r&eacute;ception de la demande. Ce d&eacute;lai d'un mois peut &ecirc;tre prolong&eacute; de deux mois si la complexit&eacute; de la demande et/ou le nombre de demandes l'exigent.</p>

    <p>De plus, et depuis la loi n&deg;2016-1321 du 7 octobre 2016, les personnes qui le souhaitent ont la possibilit&eacute; d&rsquo;organiser le sort de leurs donn&eacute;es apr&egrave;s leur d&eacute;c&egrave;s. Pour plus d&rsquo;information sur le sujet, vous pouvez consulter le site Internet de la Cnil&nbsp;: <a href="https://www.cnil.fr">www.cnil.fr</a>.</p>

    <p>Nous restons cependant en droit, le cas &eacute;ch&eacute;ant, de nous opposer aux demandes manifestement abusives (de par leur nombre, leur caract&egrave;re r&eacute;p&eacute;titif ou syst&eacute;matique).</p>

    <p>Les utilisateurs peuvent aussi introduire une r&eacute;clamation aupr&egrave;s de la Cnil sur le site&nbsp;: <a href="https://www.cnil.fr">www.cnil.fr</a>. Nous vous recommandons cependant de nous contacter dans un premier temps avant de d&eacute;poser une r&eacute;clamation aupr&egrave;s de la Cnil. Nous sommes &agrave; votre enti&egrave;re disposition pour r&eacute;gler votre probl&egrave;me.</p>

    <h1><a name="_Toc37171135"></a>Article 6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cookies</h1>

    <p>Les &laquo;&nbsp;cookies&nbsp;&raquo; (ou t&eacute;moins de connexion) sont des petits fichiers texte de taille limit&eacute;e que nous stockons sur votre machine. Ils nous permettent de reconna&icirc;tre votre ordinateur, votre tablette ou votre mobile, mais sans pouvoir vous identifier nominativement, aux fins de personnaliser les services que nous vous proposons.</p>

    <p>Conform&eacute;ment aux recommandations de la Cnil, certains cookies sont dispens&eacute;s du recueil pr&eacute;alable de votre consentement dans la mesure o&ugrave; ils sont strictement n&eacute;cessaires au fonctionnement du site internet ou ont pour finalit&eacute; exclusive de permettre ou faciliter la communication par voie &eacute;lectronique. Il s&rsquo;agit notamment des cookies d&rsquo;identifiant de session, d&rsquo;authentification, de session d&rsquo;&eacute;quilibrage de charge ainsi que des cookies de personnalisation de votre interface. Ces cookies sont int&eacute;gralement soumis &agrave; la pr&eacute;sente politique dans la mesure o&ugrave; ils sont &eacute;mis et g&eacute;r&eacute;s par nous.</p>

    <p>Ce Site n&rsquo;utilise que des cookies strictement n&eacute;cessaires &agrave; son bon fonctionnement. La cr&eacute;ation et l&rsquo;utilisation de ces cookies ne sont pas soumises &agrave; votre consentement comme expliqu&eacute; au paragraphe pr&eacute;c&eacute;dent. Vous avez n&eacute;anmoins la possibilit&eacute; de param&eacute;trer votre navigateur pour interdire la cr&eacute;ation de ces cookies sur votre machine. Cependant, ces cookies &eacute;tant essentiels au bon fonctionnement de ce Site, l&rsquo;utilisation de ce Site ne sera pas optimale.</p>

    <h1><a name="_Toc37171136"></a>Article 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contenu du Site</h1>

    <p>Toutes les marques, photographies, textes, commentaires, illustrations, images anim&eacute;es ou non, s&eacute;quences vid&eacute;o, sons, ainsi que toutes les applications informatiques qui pourraient &ecirc;tre utilis&eacute;es pour faire fonctionner ce Site et plus g&eacute;n&eacute;ralement tous les &eacute;l&eacute;ments reproduits ou utilis&eacute;s sur le Site sont prot&eacute;g&eacute;s par les lois en vigueur au titre de la propri&eacute;t&eacute; intellectuelle. Ils sont la propri&eacute;t&eacute; pleine et enti&egrave;re de leur auteur.</p>

    <p>Toute reproduction, repr&eacute;sentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces &eacute;l&eacute;ments, y compris les applications informatiques, sans l'accord pr&eacute;alable et &eacute;crit de leur propri&eacute;taire, sont strictement interdites. Le fait pour le propri&eacute;taire de ne pas engager de proc&eacute;dure d&egrave;s la prise de connaissance de ces utilisations non autoris&eacute;es ne vaut pas acceptation desdites utilisations, ni renonciation aux poursuites.</p>

    <h1><a name="_Toc37171137"></a>Article 8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Responsabilit&eacute;s</h1>

    <p>Le mat&eacute;riel de connexion au site que vous utilisez est sous votre enti&egrave;re responsabilit&eacute;. Vous devez prendre toutes les mesures appropri&eacute;es pour prot&eacute;ger votre mat&eacute;riel et vos propres donn&eacute;es notamment d'attaques virales par Internet. Les logiciels tiers tels que le syst&egrave;me d&rsquo;exploitation de votre machine ou le navigateur web que vous utilisez pour vous connecter au Site ne doivent pas &ecirc;tre obsol&egrave;tes. Vous &ecirc;tes par ailleurs seul responsable des sites et donn&eacute;es que vous consultez. Tout fichier t&eacute;l&eacute;vers&eacute; sur nos serveurs par l&rsquo;interm&eacute;diaire du Site doit &ecirc;tre licite.</p>

    <p>Nous ne pourrons &ecirc;tre tenus responsables en cas de poursuites judiciaires &agrave; votre encontre&nbsp;du fait du non-respect par vous des pr&eacute;sentes CGU.</p>

    <p>Si nous venions &agrave; faire l'objet d'une proc&eacute;dure amiable ou judiciaire en raison d&rsquo;une mauvaise utilisation du Site de votre part, nous pourrons opposer le non-respect des pr&eacute;sentes CGU pour obtenir l'indemnisation de tous les pr&eacute;judices, sommes, condamnations et frais qui pourraient d&eacute;couler de cette proc&eacute;dure.</p>

    <h1><a name="_Toc37171138"></a>Article 9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Loi applicable</h1>

    <p>Les pr&eacute;sentes conditions d'utilisation du Site sont r&eacute;gies par la loi fran&ccedil;aise et soumises &agrave; la comp&eacute;tence des tribunaux de notre si&egrave;ge social, sous r&eacute;serve d'une attribution de comp&eacute;tence sp&eacute;cifique d&eacute;coulant d'un texte de loi ou r&eacute;glementaire particulier.</p>

    <h1><a name="_Toc37171139"></a>Article 10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contactez-nous</h1>

    <p>Pour toute question, information sur les produits pr&eacute;sent&eacute;s sur le Site, ou concernant le Site lui-m&ecirc;me, vous pouvez envoyer un message &agrave; l'adresse suivante&nbsp;: <a href="mailto:contact@multihealthgroup.com">contact@multihealthgroup.com</a>.</p>

{% endblock %}
