{% block title %}
    <title>Associer </title>
{% endblock %}

{% block content %}

    <div class="admin-block">

        <h5>Ajout d'une déviation échantillon associe</h5>
        <button type="reset" class="btn btn-danger" disabled onclick="history.go(0)" value="Annuler"
                style="margin-right: 3em">Annuler
        </button>

        <button class="btn btn-primary" type="submit" disabled>Ajouter</button>

    </div>

{% endblock %}
