{% extends 'ETMF/layout/app.html.twig' %}

{% block body %}
    <div class="row" style="margin-top: 20%;">
        <div class="col-12 text-center" >
            <img src="{{ asset('build/images/404.png') }}" style="max-width: 90%;">
            <h1>{{ 'app.error.404'|trans }}</h1>
            <a href="{{ path('home') }}" class="btn btn-primary" style="color: white;">{{ 'app.home'|trans }}</a>
        </div>
    </div>
{% endblock %}
