{% block content %}
    <h1>Dissocier une déviation protoclaire</h1>

    <div class="admin-block">
        <p>Êtes-vous sûr de vouloir dissocier la déviation échantillon biologique ? <br>
            Elle n'apparaitra plus dans le tableau des déviation échantillon biologique associées</p>
        <a href type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
        <a class="btn btn-primary" href="{{ path('deviation.sample.dissociate.btn', { 'projectID' : projectID, 'deviationSampleID' : deviationSampleID , 'deviationID': deviationID}) }}">Valider</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('deviation') }}
{% endblock %}
