{% extends 'email/base.html.twig' %}

{% block body %}
    <p>{{ 'email.forgottenpassword.part1'|trans }}</p>
    <p>{{ 'email.forgottenpassword.part2'|trans }} <a href="{{ url('set_password', {'token': token}) }}">new password</a></p>
    <p>{{ 'email.forgottenpassword.part3'|trans }}</p>
{% endblock %}
